* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 20px;
    flex-shrink: 0;
}


select {
    width: 150px;
}

.container {
    width: 680px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
}

.SQL_TABLE {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
}

.GRAPH {
    display: flex;
    flex-direction: row;
}

.VARIABLES {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    gap: 2%;
}

input[type="color"] {
    width: 40px;
    height: 20px;
}

.line1, .line2, .line3, .line4 {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;
}